* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #58B1DD;
  padding: 25px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #58B1DD;
}

.background {
  background-color: #222222;
  padding: 45px;
}

section {
  background-color: #EBEBEB;
  padding: 0px 10px 25px 25px;
}

a {
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: right;
}

p {
  margin: 5px 0px;
}

ol {
  margin-left: 45px;
}

button {
  background-color: #58B1DD;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  margin: 6px 8px;
  cursor: pointer;
}